*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#8393a0, #5f8797);
}   

.container {
    border: solid 1px rgba(77, 11, 184, 0.089);
}

table {
    color: #000c01;
    font-size: 14px;
    table-layout: fixed;
    border-collapse: collapse;  
}

thead {
    background: rgba(191, 211, 9, 0.4);
}
th {
    padding: 20px 15px ;
    font-weight: 700;
    text-transform: uppercase;

}
td {
    padding: 15px ;
    border-bottom: solid 1px rgba(13, 185, 41, 0.2);
}
tbody tr {
    cursor: pointer;
}

tbody tr:hover {
    background: rgba(9, 42, 133, 0.4);
}